<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <meta name="author" content="{{ config.extra.author }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ get_url(path='/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script async src="https://u.lhf.pt/script.js" data-website-id="1fa261f4-c96a-44c8-a488-7cb9428bbf1d"></script>

    <link href="https://fosstodon.org/@lhf" rel="me">
</head>

<body>
    <section class="container">
        <header>
            {% include "nav.html" %}
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>
    </section>

    <!--
    <script type="text/javascript" src="{{ get_url(path='/elasticlunr.min.js') }}"></script>
    <script type="text/javascript" src="{{ get_url(path='/search.js') }}"></script>
    -->
</body>

</html>