<!DOCTYPE html>
<html lang="en" data-theme="dark">

{% block page_data %}
{% set title = config.title %}
{% set description = config.description %}
{% endblock %}

<head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ config.author }}">

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ get_url(path='/img/favicon-512x512.png') }}" />

    {% if current_url %}
    <meta property="og:url" content="{{ current_url }}" />
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ get_url(path='/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if current_path %}
    <link rel="canonical" href="{{ config.extra.canonical }}{{ current_path }}" />
    {% endif %}

    <script type="application/ld+json">
    {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : "{{ title }}",
        "alternateName" : "{{ config.extra.short_title }}",
        "url" : "https://lhf.pt/"
    }
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='/img/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='/img/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='/img/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ get_url(path='/site.webmanifest') }}" />

    <script async src="https://u.lhf.pt/script.js" data-website-id="f3cd7156-1555-4515-a015-40faa4e53822"></script>

    <link href="https://fosstodon.org/@lhf" rel="me" />

    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Posts" href="{{ get_url(path='atom.xml') }}" />
    {% endblock %}
</head>

<body>
    <header class="container">
        <nav>
            <div style="display: flex; flex-direction:column;">
                <span style="font-size:2em; "><strong>{{ config.title }}</strong></span>
                <muted><small>{{ config.description }}</small></muted>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                <div>
                    <a href="{{ get_url(path='/') }}">Home</a>
                </div>
                <div>
                    <a href="{{ get_url(path='@/posts/_index.md') }}">Posts</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <article>
            {% block content %} {% endblock %}
        </article>
    </main>
    <footer class="container">
        <small style="display: none" id="back">↑ <a href="#top" class="secondary">back to top</a></small>
    </footer>

    <script>
        let back = document.getElementById("back");
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                back.style.display = "block";
            } else {
                back.style.display = "none";
            }
        }
    </script>

    <!--
    <script type="text/javascript" src="{{ get_url(path='/elasticlunr.min.js') }}"></script>
    <script type="text/javascript" src="{{ get_url(path='/search.js') }}"></script>
    -->
</body>

</html>