{% extends "base.html" %}

{% block content %}
<h1>Hello, I'm Luís. 👋</h1>
<p>I'm a computer science student from Portugal, currently studying at <a
        href="https://tecnico.ulisboa.pt/en/">Instituto Superior Técnico</a>.</p>

<h4>Reach out to me at:</h4>
<ul>
    <li>Mail: <a href="mailto:luis@lhf.pt">luis@lhf.pt</a></li>
    <li>Mastodon: <a href="https://fosstodon.org/@lhf">lhf@fosstodon.org</a></li>
    <li>GitHub: <a href="https://github.com/luishfonseca/">luishfonseca</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/luishfonseca/">luishfonseca</a></li>
</ul>
{% endblock content %}