{% extends "base.html" %}

{% block content %}
<div
    style="display: flex; flex-direction: row-reverse; flex-wrap: wrap; max-height: 240px; overflow: hidden; gap: 1em; justify-content: flex-end;">
    <div style="display: flex; flex-direction:column; height: 240px; justify-content: space-evenly;">
        <p>
            I'm a Computer Science graduate student from Portugal. 🇵🇹
            <br>
            Currently studying at Aalto, Finland. 🇫🇮
        </p>
        <p>
            I'm interested in distributed systems, networks, security and programming languages.
        </p>

        <div style="display: flex; gap: 1em;">
            <div style="display:flex; flex-direction: column; gap: 0.5em;">
                <div>
                    <span class="fa-solid fa-envelope" style="padding-right: 0.5em;"></span>
                    <a href="mailto:luis@lhf.pt" target="_blank" rel="noopener">luis@lhf.pt</a>
                </div>
                <div>
                    <span class="fa-brands fa-mastodon" style="padding-right: 0.5em;"></span>
                    <a href="https://fosstodon.org/@lhf" target="_blank" rel="noopener">lhf@fosstodon.org</a>
                </div>
            </div>
            <div style="display:flex; flex-direction: column; gap: 0.5em;">
                <div>
                    <span class="fa-brands fa-github" style="padding-right: 0.5em;"></span>
                    <a href="https://github.com/luishfonseca/" target="_blank" rel="noopener">luishfonseca</a>
                </div>
                <div>
                    <span class="fa-brands fa-linkedin" style="padding-right: 0.5em;"></span>
                    <a href="https://www.linkedin.com/in/luishfonseca/" target="_blank" rel="noopener">luishfonseca</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="{{ get_url(path='/img/me.jpg') }}" alt="Me" style="width: 100%; height: 240px;">
        <br>
    </div>
</div>

{% endblock content %}