{% extends "base.html" %}

{% block content %}
<h1>Hello, I'm Luís. 👋</h1>
<p>I'm a computer science student from Portugal, currently studying at <a href="https://tecnico.ulisboa.pt/en/"
        target="_blank" rel="noopener">Instituto Superior Técnico</a>.</p>

<h4>Reach out to me at:</h4>
<ul>
    <li>Mail: <a href="mailto:luis@lhf.pt" target="_blank" rel="noopener">luis@lhf.pt</a></li>
    <li>Mastodon: <a href="https://fosstodon.org/@lhf" target="_blank" rel="noopener">lhf@fosstodon.org</a></li>
    <li>GitHub: <a href="https://github.com/luishfonseca/" target="_blank" rel="noopener">luishfonseca</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/luishfonseca/" target="_blank" rel="noopener">luishfonseca</a>
    </li>
</ul>
{% endblock content %}